.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

dl {
  margin: 0;
}

dd {
  margin-left: 1.5em;
}

.mapboxgl-popup-content h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.map-overlay-container {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.map-overlay h2 {
  margin: 0 0 10px;
}

.map-overlay .warehouse {
  margin-bottom: 10px;
}
